<section id="signin-view">

	<form class="pure-form pure-form-stacked" action="" method="post">
    	<fieldset>
        <legend>Sign In</legend>

        <div class="errors pure-alert pure-alert-error">
            <h5>Errors:</h5>
            <p class="inner"></p>
        </div>

        <label for="username">Username</label>
        <input id="username" name="username" type="text" placeholder="Username">

        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Password">

        <button type="submit" class="button-success pure-button">Sign in</button>
    	</fieldset>
	</form>
</section>